<h1>Aps 2</h1>
    <p>
        Escolha uma das ações a seguir:
        <ul>
            <li><%= link_to "Cadastro", new_personagem_path %> </li>
            <li><%= link_to "Visualizar Personagens", personagens_path %> </li>
        </ul>
    </p>
