<h1>Aps 2</h1>
    <p>
        <h3>Escolha uma das ações a seguir:</h3>

        <p>    <%= link_to "Cadastro", new_personagem_path, class: "btn btn-primary"%></p>
        <p>    <%= link_to "Visualizar Personagens", personagens_path, class: "btn btn-success"%></p>

    </p>
