<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/RightSideTeam">
                <div style="padding:10px"><img src="https://avatars3.githubusercontent.com/u/45981773?s=200&v=4" width= "40px" height= "40px"class="rounded-circle"></div>
            </a>
        </div>
    </nav>
    <h3><a class="nav-link" <%= link_to "HOME", root_path%></a></h3>
  <!-- <a class="navbar-brand<%= link_to "Home", root_path %>Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="">Personagens <span class="sr-only">(página atual)</span></a> -->
      </li>
      <li class="nav-item">
        <h3><a class="nav-link" <%= link_to "PERSONAGENS", personagens_path%></a></h3>
      </li>

      <li class="nav-item">
        <h3><a class="nav-link" <%= link_to "PODERES", poderes_path%></a></h3>
      </li>


    </ul>

  </div>
</nav>
